body {
    margin: 0px;
    padding: 0px;
    
    font-family: 'mont', 'sans-serif';
}

#top-header {
    height: 75px;
    background-color: transparent;
}

#wrapper {
    background-image: url(achtergrond.jpg);
    background-position-x: center;
    background-repeat: no-repeat;   
    background-size: cover;
    background-position-y: 75px;
}
#top-header .name{
    float: left;
    font-family: 'mont', 'sans-serif';
    font-size: 50px;
    padding: 10px 20px 10px 20px;
}

#top-header .xp{
    float: right;
    font-family: 'mont', 'sans-serif';
    font-size: 50px;
    padding: 10px 20px 10px 20px;
}

.xpgetal {
    color: purple; 
    font-weight: bold;
}

#header .minuten {
    margin-left: 50px;
    margin-top: 400px; 
    font-size: 50px;  
}

.mingetal {
    color: purple;
    font-weight: bold;
    font-size: 75px;
}

.txtmin {
    font-size: 25px;
}

.button {
    background-color: purple;
    color: white;
    padding: 30px 175px;
    display: inline-block;
    font-size: 25px;
    justify-content: center;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 250px;
}

#tabbelen {
    background-color: white;
}

#Teams {
    border-style: solid;
    color: lightgray;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top_teams .title {
    color: purple;
    font-size: 50px;
    margin-left: 10px;
}   

#top_teams .xp_uitleg {
    float: right;
    margin-right: 5px;
    margin-top: -40px;
    font-size: 30px;
    color: grey;

}

#Teams .klas_team {
    font-family: 'mont', 'sans-serif';
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    margin-top: -10px;
    color: darkslategray;
}

#xpklas {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}



#xpklas .xpgetal_klas {
    color: purple;
    font-size: 30px;
    font-weight: bold;
}

#xpklas .xp_klas {
    color: grey;
    font-size: 30px;
}

#Teams .ranglijst_klas {
    color: purple;
    font-size: 30px;
    margin-left: 10px;
}

#Teams .lijntje {
    margin-left: 10px;
    margin-right: 10px;
}

#Teams .Team_beheer {
    color: grey;
    margin-left: 275px;
    font-size: 30px;
}

#Medals {
    border-style: solid;
    color: lightgray;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
    height: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Medals .titleM {
    color: purple;
    font-size: 50px;
    margin-left: 10px;
}

#Medals .hiker {
    float: left;
    height: 400px;
    width: 400px;
}

#Medals .afbH {
    margin-left: 50px;
}

#Medals .T_H {
    margin-left: 125px;
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
}

#Medals .T_H_T {
    margin-left: 90px;
    font-size: 25px;
    color: darkslategray;
}

#Medals .reeks {
    float: left;
    height: 400px;
    width: 250px;
}

#Medals .T_R {
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
    margin-left: 50px;
    margin-top: 7px;
}

#Medals .T_R_T{
    margin-left: 25px;
    font-size: 25px;
    color: darkslategray;
}

#Medals .Hart {
    float: left;
    height: 400px;
    width: 400px;
    margin-top: -100px;
}

#Medals .afbHa {
    margin-left: 50px;
    margin-top: 50px;
}

#Medals .T_HA {
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
    margin-left: 125px;
    margin-top: 7px;
}

#Medals .T_HA_T {
    margin-left: 115px;
    font-size:25px;
    color: darkslategray;
}

#Medals .Vroege_vogel {
    float: left;
    height: 400px;
    width: 250px;
    margin-top: -50px;
}

#Medals .T_V {
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
}

#Medals .T_V_T {
    margin-left: 25px;
    font-size: 25px;
    color: darkslategray;
}

#Medals .Blijf_actief {
    float: left;
    height: 400px;
    width: 400px;
    margin-top: -50px;
}

#Medals .afbb {
    margin-left: 50px;
}

#Medals .T_B {
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
    margin-left: 75px;
    margin-top: 7px;
}

#Medals .T_B_T {
    margin-left: 75px;
    font-size: 25px;
    color: darkslategray;
}

#Medals .Weetjes {
    float: left;
    height: 400px;
    width: 250px;
    margin-top: -50px;
}

#Medals .T_W {
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
    margin-top: 15px;
    margin-left: 25px;
}

#Medals .T_W_T {
    margin-left: 20px;
    font-size: 25px;
    color: darkslategray;
    
}

#Medals .infomedals {
    margin-left: 25%;
    font-size: 25px;
    color: darkslategray;
}

#doneren {
    border-style: solid;
    color: lightgray;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
    height: 425px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#doneren .titled {
    color: purple;
    font-size: 50px;
    margin-left: 10px;
}

#doneren .tekstd {
    margin-top: 50px;
    margin-left: 10px;
    font-size: 40px;
    color: darkslategray;
}

#doneren .buttonD {
    background-color: orange;
    color: white;
    padding: 30px 125px;
    display: inline-block;
    font-size: 25px;
    justify-content: right;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#stats {
    border-style: solid;
    color: lightgray;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
    height: 325px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#stats .titleSO {
    color: purple;
    font-size: 50px;
    margin-left: 10px;
}

#stats .buttonS {
    background-color: purple;
    color: white;
    padding: 30px 100px;
    display: inline-block;
    font-size: 25px;
    justify-content: center;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 125px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#stats .buttonO {
    background-color: orange;
    color: white;
    padding: 30px 100px;
    display: inline-block;
    font-size: 25px;
    justify-content: right;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 125px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#end {
    background-image: url(Background_beneden.jpg);
    background-position-x: center;
    background-repeat: no-repeat;   
    background-size: cover;
}

#end .END {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 40px;
    color: white;
}

#end .ENDS {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 25px;
    color: white;
}

#end .ENDapp {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 15px;
    color: white;
}

.vraag {
    text-align: center;
    width: 50px;
    height: 50px;
    float: right;
    font-size: 40px;
    color: purple;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    border-color: purple;
    position: sticky;
    bottom: 10px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}