body {
  margin: 0;
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: blue;
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  width: 150px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0303cb;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 175px;
  padding: 1px 16px;
  height: 1000px;
}

/* Mobile */
@media screen and (max-width: 1000px) {
  .logo {
    width: 200px;
    margin-left: 380px;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    margin-left: 125px;
  }
  .sidebar a.active {
    width: 150px;
    margin-left: 100px;
  }
  div.content {
    margin-left: 0;
  }
  #start {
    margin-left: 167.5px;
    width: max-content;
    height: max-content;
  }
  #start .title {
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #0303cb;
    height: fit-content;
    width: fit-content;
  }
  .filter {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 175px;
    border-radius: 8px;
    border-style: solid;
    border-color: #0303cb;
    width: 637.5px;
  }
  hr {
    margin: 20 50 0 50;
    color: black;
  }

  ul.pic {
    width: 20px;
  }
}

/* Web */
@media screen and (min-width: 1000px) {
  .logo {
    width: 200px;
  }
  .sidebar {
    margin-top: -5px;
  }
  .sidebar a {
    text-align: center;
  }
  .sidebar a.active {
    width: 200px;
    margin-left: -20px;
  }
  #start {
    margin-top: 5px;
    margin-left: 450px;
    width: max-content;
    height: max-content;
  }
  #start .title {
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #0303cb;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
  }
  .filter {
    width: 637.5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 467.5px;
    border-radius: 8px;
    border-style: solid;
    border-color: #0303cb;
  }

  hr {
    margin: 25 50 0 250;
  }

  .styled-table {
    margin-left: 250px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
  }
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .foto {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #0303cb;
  }
  .house_title {
    font-size: 40px;
    margin-top: -20px;
  }
}
